<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yhjmew.no.ore.ui">

    <!-- 添加读取和写入存储的权限 (针对安卓 8~10) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 添加所有文件访问权限 (针对安卓 11~13) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- 添加 android:requestLegacyExternalStorage="true" -->
    <application
        android:requestLegacyExternalStorage="true" 
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="去oreUI打包"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>